<!doctype html>
<html>
<head>
	<title>Assignment 1</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">

      <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,greek-ext,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    
    <!-- Awesome Font -->    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="http://static.tumblr.com/wfauvgx/UaAnk8mid/magnific-popup.css">
    
    <!-- CSS3 Animate it -->
    <link rel="stylesheet" href="http://static.tumblr.com/wfauvgx/2Lunlpqar/animations.css">

    

    

  <link rel="stylesheet" href="http://static.tumblr.com/wfauvgx/yEYnmfr7d/main.css">
  <link rel="stylesheet" href="css/fetch.css">
   
    
      <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
        <script src="http://static.tumblr.com/vookvsa/elOly45v5/html5.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
     <script src="js/fetch.js"></script> 

    
</head>


<body>

    {{{body}}}    
     <!-- Masonry -->
    <script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>



