<div class="plane">
  <div class="left-body"></div>
  <div class="right-body"></div>
  <div class="right-wing"></div>
  <div class="left-wing"></div>
</div>
<div class="plane">
  <div class="left-body"></div>
  <div class="right-body"></div>
  <div class="right-wing"></div>
  <div class="left-wing"></div>
</div>

<div class="header-title header-title-style-1">
  <div class="header-title-avatar"></div>
</div>

<div id="fetching">
  <h1>How Fetch Are You?</h1>
  <button class='button' id='fetch'>
  <span>Click this to find out how fetch you are!</span>
</button>
    <div id="results" style="text-align:center; display:none;">
            <div id="container" style="text-align:center;">
                <div><em>62.5%</em> <strong>likes</strong> with word pink</div>
                <div><em>34.5%</em> <strong>posts</strong> with word pink</div>
                <div><em>96.0%</em> <strong>overall</strong> with word pink</div>

              </div>
              </br>
              </br>
              <h1> </h1>
            <h1><strong>Super Fetch</strong></h1>
            <img src="http://media.giphy.com/media/Y2KuqRqdCsxYk/giphy.gif">
            
        
    </div>
</div>
