<div class="plane">
  <div class="left-body"></div>
  <div class="right-body"></div>
  <div class="right-wing"></div>
  <div class="left-wing"></div>
</div>
<div class="plane">
  <div class="left-body"></div>
  <div class="right-body"></div>
  <div class="right-wing"></div>
  <div class="left-wing"></div>
</div>

<div class="header-title header-title-style-1">
  <div class="header-title-avatar"></div>
  <h3 style="position:absolute;left:80%;bottom:80%;"><a href="/">Sign out.</a></h3>
</div>

<div id="fetching">
  <h1>How Fetch Are You?</h1>
  <button class='button' id='fetch'>
  <span>Click this to find out how fetch you are!</span>
</button>
    <div id="results" style="text-align:center; display:none;">
            <div id="container" style="text-align:center;">
                <div><em id="l_pct"></em> <strong>likes</strong> with word pink</div>
                <div><em id="p_pct"></em> <strong>posts</strong> with word pink</div>
                <div><em id="overall"></em> <strong>overall</strong> with word pink</div>

              </div>
              </br>
              </br>
              <h1> </h1>
            <h1><strong id="message"></strong></h1>
            <img src="http://media.giphy.com/media/Y2KuqRqdCsxYk/giphy.gif">
            
        
    </div>
</div>
