<header class="mainHeader animatedParent ">

  <div class="wrapper">
    
    <div class="authorBox">
        <ul>
            <li><a href="#"><img style="max-width:40px" src="/images/ig_icon.png" alt="Rosea Themes" class="circle"></a></li>
            <li><h3>{{username}}</h3></li>  
        </ul>

    </div><!-- /.authorBox -->
    <h3 style="float:right"><a href="/">Sign out.</a></h3>
	 
        
  </div><!-- /.wrapper -->
</header><!-- /.mainHeader -->


<div class="container">
        
    
    <section class="mainContent js-masonry">
    
    
{{#each photos}}
 
	<article class="post formatPhoto "  >
            <figure class="postImage effect-sadie">
            	
					<figcaption>

                         <div class="meta"><i class="fa fa-clock-o"></i> {{caption}}</div>

		            </figcaption>
		            
				<img src="{{url}}" class="img-responsive" class="img hashtag-img">
			</figure>
    </article>

   {{/each}}

   
    </section>

</div>
