
<div class="bg-img"></div>
<div class="title">
<div class="login">
	<h3>Login with Facebook for Fetchifier!</h3>
		<a class="facebook btn" href="/auth/facebook">
		<div class="btn-icon fb-icon"></div>
			Login with Facebook
		</a>
	<h3>Login with Instagram for your feed!</h3>	
		<a class="instagram btn" href="/auth/instagram">
		<div class="instagram-icon btn-icon"></div>
			Login with Instagram
		</a>
</div>
</div>

